/* =========================
   ROOT VARIABLES
========================= */
:root {
    --default-font: "Changa", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-header-color: #2E2E2E;
    --green-color: #10513D;
    --yellow-color: #FDC20C;
    --grey-color: #565656;
    --grey-color-medium: #D9D9D9;
    --grey-color-light: #E6E6E6;
    --white-color: #ffffff;
    --black-color: #000;
    --gradient: rgb(16 81 61 / 50%);
    --text-color-size: #585858;

    scroll-behavior: smooth;
}

/* =========================
   RESET / BASE
========================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h4{
    padding: 0 !important;
}
html,
body {
    overflow-x: hidden;
}

body {
    font-family: var(--default-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #f9f9f9;
}

/* =========================
   FONT CONFIG (CHANGA)
========================= */
.font-changa {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-header{
    color: var(--font-header-color);
}
/* =========================
   FONT SIZES (UTILS)
========================= */
.font-10 { font-size: 0.625rem; }
.font-12 { font-size: 0.75rem; }
.font-14 { font-size: 0.875rem; }
.font-15 { font-size: 0.938rem; }
.font-16 { font-size: 1rem; }
.font-17 { font-size: 1.063rem; }
.font-18 { font-size: 1.125rem; }
.font-20 { font-size: 1.25rem; }
.font-24 { font-size: 1.5rem; }
.font-25 { font-size: 1.563rem; }
.font-28 { font-size: 1.75rem; }
.font-30 { font-size: 1.875rem; }
.font-32 { font-size: 2rem; }
.font-40 {
    font-size: 2.5rem;
    line-height: 1.2;
}
.font-44 { font-size: 2.75rem; }
.font-48 { font-size: 3rem; }
.font-50 { font-size: 3.125rem; }

.font-light   { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium  { font-weight: 500; }
.font-semibold{ font-weight: 600; }
.font-bold    { font-weight: 700; }

.bg-yellow{
    background: var(--yellow-color);
}
.color-yellow{
    color: var(--yellow-color);
}
.bg-green{
    background: var(--green-color);
}
.color-green{
    color: var(--green-color);
}
.bg-grey-light{
    background: var(--grey-color-light);
}
.bg-grey-medium{
    background: var(--grey-color-medium);
}
.color-grey{
    color: var(--grey-color);
}